# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# =========================
# Model files (artifacts)
# =========================
model/*.pkl
model/*.pkl.gz

# =========================
# Data files (DVC-managed)
# =========================
data/*.csv          # ignore raw datasets
!data/*.csv.dvc     # allow DVC metadata files

# =========================
# DVC internal cache
# =========================
.dvc/cache

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
